<head>
<style>
.centerTable {
  margin: 0px auto;
}

table, th, td {
  border: 1px solid black;
}
</style>
</head>

<h1 style="text-align:center;">Ragas</h1>

<form style="text-align:center;">
Select Raga: <%= collection_select(:post, :raga_id, @ragas, :id, :raga) %>
<input type="submit">
</form>

<table class="centerTable">
  <tr>
    <th>RAGA</th>
    <th>AAROHANA</th>
    <th>AVAROHANA</th>
  </tr>
<% @ragas.each do |raga| %>
  <tr>
    <td><%= raga.raga %></td>
    <td><%= raga.aarohana %></td>
    <td><%= raga.avarohana %></td>
  </tr>
<% end %>
</table>
