<h1 style="text-align:center;">About</h1>

<p style="text-align:center;"> CarnaticRaga.com</br> 
    Author: Mridula Chappalli Srinivasa Shastry</br>
    References : wikipedia.org</br>
                 http://ruby.railstutorial.org/</br>
                 http://guides.rubyonrails.org/</br>
                 Theory of Music by Vidushi VasanthaMadhavi T.S</br>
</p>
