<h1 style="text-align:center;">CarnaticRaga.com Legends</h1>
<h2 style="text-align:center;">
  <a href="../home/index.html">HOME</a>
  <a href="../ragas/index.html">RAGAS</a>
  <a href="../compositions/index.html">COMPOSITIONS</a>
  <a href="../composers/index.html">COMPOSERS</a>
  <a href="../legends/index.html">LEGENDS</a>
</h2>

<h3> M.S.Subbulakshmi </h3>
<p> Madurai Shanmukhavadivu Subbulakshmi (Tamil: மதுரை சண்முகவடிவு சுப்புலட்சுமி, Madurai Shanmukhavadivu Subbulakshmi 16 September 1916 – 11 December 2004), 
also known as M.S., was a renowned Carnatic vocalist. She was the first musician ever to be awarded the Bharat Ratna, India's highest civilian honor.
She is the first Indian musician to receive the Ramon Magsaysay award, often considered Asia's Nobel Prize,in 1974 with the citation reading 
"Exacting purists acknowledge Srimati M. S. Subbulakshmi as the leading exponent of classical and semi-classical songs in the Karnataka tradition of South India</p>

<h3> D.K.Pattammal </h3>
<p> Damal Krishnaswamy Pattammal  (28 March 1919 – 16 July 2009) was a prominent Carnatic musician and a playback singer for film songs in many Indian languages. 
She along with her contemporaries M. S. Subbulakshmi and M. L. Vasanthakumari were (and still are) popularly referred to as the Female trinity of Carnatic Music. 
This trio initiated the entry of women into mainstream Carnatic Music. She has been appreciated all over the world by Carnatic music lovers.</p>

<h3> M.L.Vasanthakumari </h3>
<p> Madras Lalitangi Vasanthakumari (Tamil: மெட்ராஸ் லலிதாங்கி வசந்தகுமாரி) (popularly referred to as MLV) (July 3, 1928 - October 31, 1990), was a Carnatic musician 
and playback singer for film songs in many Indian languages. A prime disciple of the G. N. Balasubramaniam, she was the youngest among the established musicians of that era, 
and was the youngest female awardee of the Sangita Kalanidhi award.As well as being a much sought-after playback singer for films, 
<p> MLV popularised unfamiliar ragas and her Ragam Thanam Pallavis were considered cerebra.</p>